.sx-react-calendar-wrapper {
  width: 100%;
  max-width: 100vw;
  min-width: 70vw;
  height: 1000px; /* Tăng chiều cao để đảm bảo hiển thị */
  max-height: 90vh;
  overflow: auto; /* Cho phép cuộn nếu cần */
}

.sx__calendar {
  height: 100% !important;
}

.sx__calendar-body {
  height: 100% !important;
  overflow: auto; /* Cho phép cuộn nếu cần */
}

.sx__calendar-event {
  display: block !important; /* Đảm bảo sự kiện hiển thị */
}